.trademark{
    display: flex;
    justify-content: center;
    
}

.trademark-container{
    margin-top: -10%;
    width: 70%;
    @media only screen and (max-width: 768px) {
        margin-top: 12px;
      }
}